Source: multistrap
Section: utils
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Uploaders: Wookey <wookey@debian.org>
Build-Depends: cdbs, debhelper (>= 5), po4a (>= 0.37.1), po-debconf
Build-Depends-Indep: devscripts, gnupg, intltool
Standards-Version: 3.8.4
Homepage: http://www.emdebian.org/
Vcs-Browser: http://buildd.emdebian.org/svn/browser/current/host/trunk/emdebian-rootfs/trunk/
Vcs-Svn: http://buildd.emdebian.org/repos/current/host/trunk/emdebian-rootfs/trunk/

Package: multistrap
Section: admin
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, apt, realpath,
 libconfig-auto-perl, libparse-debian-packages-perl
Replaces: emdebian-rootfs (<= 2.0.9)
Conflicts: emdebian-rootfs (<= 2.0.9)
Provides: emdebian-rootfs
Description: multiple repository bootstrap based on apt
 A debootstrap replacement with multiple repository support,
 using apt to handle all dependency issues and conflicts.
 .
 Multistrap includes support for foreign architecture multistraps
 that need  only minimal configuration on the final device. Also
 supports cleaning  up the generated bootstrap filesystem to 
 remove downloaded packages and hooks to modify the files in
 the bootstrap filesystem after the packages have been unpacked
 but before being configured.
 .
 Unlike debootstrap, multistrap relies on working versions of
 dpkg and apt outside the final filesystem.
 .
 Multistrap supercedes emdebian-rootfs and includes support
 for preparing root filesystems for specific machines and variants.
 Also included is the previous emdebian-rootfs support for
 customisation of package selection and of files created
 within the root filesystem.
 .
 Root filesystems created with multistrap need minimal
 configuration on the embedded device before the first boot.
